img {
    display: block;
}
main {
    font-size:1.4rem;
    font-weight: 300;
    color:$primaryColor;
    line-height:28px;
    h4 {
        font-family: $secondFont;
        text-shadow:1px 1px 5px #f0f7ee;
        font-size:2.6rem;
        line-height: 20px;
        padding:15px 0 20px 0;
        text-align: center;
    }
    h5 {
        text-align:center;
        font-weight: 400;
        margin:0;
        padding-bottom:15px;
    }
}
main a  {
    color:$primaryColor;
    font-size:2.5rem;
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
    transition:all 0.3s;
    &:hover {
        transform:scale(1.5);
    }
    
}
.introduction {
    height:50vh;
    background-color:#93E1D8;
    text-align: center;
    position: relative;
    p {
        font-size:1rem;
        line-height: 28px;
        padding-bottom:30px;
    }
    .wrapper {
        position:relative;
        top:50%;
        transform:translateY(-50%);
    }
}
form {
    input[type=text] {
        height:45px;
        border:0;
        padding: 10px;
        margin-top:5px;
        margin-bottom:25px;
        font-size:1rem;
    }
    input[type=text]:focus {
        border-bottom:3px solid $secondaryColor;
    }
    
    .final-button {
        border:0px;
        height:50px;
        width:250px;
        font-size:1.4rem;
        background:rgba(255, 255, 255, 0.5);
        border-radius:10px;
        // padding:10px 60px;
        letter-spacing: 2px;

        &:hover {
            background:white;
        }
    }
}
    

.gen-demographics {
    background:paleturquoise;
    img {
        opacity:0.5;
        max-width:300px;
        width:100%;
        min-height:300px;
        height:100%;
    }
}
.gen-demographics, .gen-interests, .gen-level {
    height:100vh;
    position: relative;
    .wrapper {
        position: relative;
        top:20%;
    }
}
.demoInput {
    width:100%;
    max-width: 500px;
    position: relative;
}
.demoFlex, .level-flex {
    
    display: flex;
    justify-content: space-around;
}
.gen-level {
    background:paleturquoise;
    height:100vh;
}
.gen-interests {
    background:#93E1D8;
    height:100vh;
    position: relative;
}
.interest-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding-top:50px;
    img {
        max-width:300px;
        width:100%;
        opacity:0.5;
        min-height:300px;
        height:100%;
    }
    .interestInput {
        max-width:500px;
        width:100%;
    }
} 
.gen-level {
    .final-button {
        position: absolute;
        bottom:10%;
        left:50%;
        transform: translateX(-50%);
    }
}
.level-flex {
    padding-top:50px;
    img {
        max-width:300px;
        width:100%;
        opacity:0.5;
        min-height:300px;
        height:100%;
    }
}
.levelInput {
    padding-top:50px;
    div {
        padding-bottom:20px;
    }
}
.demoInput, .interestInput{
    display:flex;
    flex-direction:column;
}
.gen-final {
    background:#5497a7;
    height:75vh;
    padding-top:125px;
    position: relative;
    p {
        margin-top:50px;
    }
    button {
        background:white;
        border-radius:10px;
        font-size:1.4rem;
        font-weight: 400;
        background:white;
        height:50px;
        width:250px;
        position: absolute;
        bottom:10%;
        left:50%;
        transform:translateX(-50%);
        background:rgba(255, 255, 255, 0.5);
        border:none;
        &:hover {
            background:white;
        }
    }
}
.final-info {
    font-size:1.4rem;
    text-align:center;
    font-weight: 400;
}

input[type = radio] {
    height:18px;
    width:18px;
    
    &:active {
        background:orange;
    }
}
.levelInput div label {
  position: relative;
  &:hover {
      cursor: pointer;
  } 
}