img {
    display: block;
}
main {
    font-size:1.4rem;
    font-weight: 300;
    color:$primaryColor;
    line-height:28px;
    h4 {
        color: $darkBlue;
        text-shadow:1px 1px 5px #f0f7ee;
        font-size:2.6rem;
        line-height: 20px;
        padding:15px 0 20px 0;
        text-align: center;
    }
    h5 {
        text-align:center;
        font-weight: 400;
        margin:0;
        padding-bottom:15px;
    }
}
main a  {
    color:$orange;
    display:block;
    font-size:2.5rem;
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
    transition:all 0.3s;
    
}
.introduction {
    height:50vh;
    background-color:$lightTeal;
    text-align: center;
    position: relative;
    p {
        font-size:1rem;
        line-height: 28px;
        padding-bottom:30px;
    }
    .wrapper {
        position:relative;
        top:50%;
        transform:translateY(-50%);
    }
}
form {
    input[type=text] {
        height:45px;
        border:0;
        padding: 10px;
        margin-top:5px;
        margin-bottom:25px;
        font-size:1rem;
    }
    input[type=text]:focus {
        border-bottom:5px solid $yellow;
    }
    
    .final-button {
        border:0px;
        height:50px;
        width:250px;
        font-size:1.4rem;
        background:rgba(255, 255, 255, 0.5);
        border-radius:10px;
        letter-spacing: 2px;
        transition:all 0.3s;

        &:hover {
            background:$yellow;
        }
    }
}
    

.gen-demographics {
    background:paleturquoise;
    img {
        opacity:0.5;
        max-width:300px;
        width:100%;
        min-height:300px;
        height:100%;
    }
}
.gen-demographics, .gen-interests, .gen-level, .gen-qualities {
    height:100vh;
    position: relative;
    .wrapper {
        position: relative;
        top:20%;
    }
}
.demoInput {
    width:100%;
    max-width: 500px;
    position: relative;
}
.demoFlex, .level-flex {
    
    display: flex;
    justify-content: space-around;
}

.gen-interests {
    background:$lightTeal;
    height:100vh;
    position: relative;
}
.interest-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding-top:50px;
    img {
        max-width:300px;
        width:100%;
        opacity:0.5;
        min-height:300px;
        height:100%;
    }
    .interestInput {
        max-width:500px;
        width:100%;
    }
} 
.demoInput, .interestInput{
    display:flex;
    flex-direction:column;
}
.gen-qualities {
    background:paleturquoise;
    height:100vh;
    position: relative;
}
.qualities-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding-top:50px;
    img {
        max-width:300px;
        width:100%;
        opacity:0.5;
        min-height:300px;
        height:100%;
    }
    .qualitiesInfo {
        padding-top: 50px;
        max-width:500px;
        width:100%;
        display:flex;
        flex-direction: column;
    }
}

.gen-level {
    background:$darkTeal;
    height:100vh;
    .final-button {
        position: absolute;
        bottom:10%;
        left:50%;
        transform: translateX(-50%);
    }
}
.level-flex {
    padding-top:50px;
    img {
        max-width:300px;
        width:100%;
        opacity:0.5;
        min-height:300px;
        height:100%;
    }
}
.levelInput {
    div {
        
    }
}

.gen-final {
    background:$lightTeal;
    height:75vh;
    padding-top:75px;
    position: relative;
    p {
        margin-top:50px;
    }
    button {
        border-radius:10px;
        font-size:1.4rem;
        font-weight: 400;
        background:white;
        height:50px;
        width:250px;
        position: absolute;
        bottom:5%;
        left:50%;
        transform:translateX(-50%);
        background:rgba(255, 255, 255, 0.5);
        border:none;
        transition:all 0.3s;
        &:hover {
            background:$yellow;
        }
    }
}
.final-info {
    font-size:1.2rem;
    text-align:center;
    font-weight: 700;
}

input[type = radio] {
    display:none;
    
}
.levelInput div  {
    padding:15px 20px;
    margin-top:20px;
    background:$lightTeal;
    text-align: center;
    border:2px solid transparent;
    // padding:15px 30px;
    border-radius: 5px;
  &:hover, &:focus {
      cursor: pointer;
      color: $yellow;
  } 
  label {
      display: block;
      padding:10px 20px;
  }
}
input[type="radio"]:checked+label {
    color: $yellow;
}
.wrapper .results p {
    font-size:1.1rem;
    text-align:center;
    overflow: hidden;
    
}