$baseFont: 'Muli', sans-serif;
$secondFont: 'Lato', serif;
$primaryColor:#353535;
$secondaryColor:#62a8ac;

$lightBlue: #DAF2E6;
$lightTeal: #38D6DD;
$darkTeal: #00ABB7;
$darkBlue: #00417F;
$orange: #FA6400;
$yellow: #FFC13B;