@import "_setup.scss";
@import "_variables.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";

body {
    font-size:10px;
    font-family: 'Open Sans', sans-serif;
    background:linear-gradient(rgba(249, 231, 231, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/swirl_pattern.png');
}
h1 {
    font-family:'Vollkorn', sans-serif;
}
h1, h2, h3, h4 {
    margin:0;
}

p {
    margin:0;
}
.wrapper {
    max-width:1160px;
    width:100%;
    margin:0 auto;
}
header {
    // background:lavender;
}
main {
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 10px;
    margin:0 10px;
}
.introduction{
    background:palegreen;
}

.generator {
    background:paleturquoise;
}

footer {
    background:palevioletred;
}