article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hero {
  background: -webkit-gradient(linear, left top, right top, from(rgba(84, 151, 167, 0.5)), to(rgba(255, 255, 255, 0.8))), url("../assets/adriano-de-gironimo-191544.jpg");
  background: -webkit-linear-gradient(left, rgba(84, 151, 167, 0.5), rgba(255, 255, 255, 0.8)), url("../assets/adriano-de-gironimo-191544.jpg");
  background: -o-linear-gradient(left, rgba(84, 151, 167, 0.5), rgba(255, 255, 255, 0.8)), url("../assets/adriano-de-gironimo-191544.jpg");
  background: linear-gradient(90deg, rgba(84, 151, 167, 0.5), rgba(255, 255, 255, 0.8)), url("../assets/adriano-de-gironimo-191544.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  height: 100%; }
  .hero .hero-text {
    text-align: center;
    padding-top: 100px; }
    .hero .hero-text h1 {
      font-size: 6rem;
      color: #62a8ac;
      text-shadow: 1px 2px 3px #353535; }
    .hero .hero-text h2 {
      font-size: 2rem;
      font-family: "Muli", sans-serif;
      font-weight: 400;
      color: #62a8ac;
      text-shadow: 1px 2px 3px #353535; }

img {
  display: block; }

main {
  font-size: 1.4rem;
  font-weight: 300;
  color: #353535;
  line-height: 28px; }
  main h4 {
    font-family: "Sacramento", cursive;
    text-shadow: 1px 1px 5px #f0f7ee;
    font-size: 2.6rem;
    line-height: 20px;
    padding: 15px 0 20px 0;
    text-align: center; }
  main h5 {
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding-bottom: 15px; }

main a {
  color: #353535;
  font-size: 2.5rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  main a:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

.introduction {
  height: 50vh;
  background-color: #93E1D8;
  text-align: center;
  position: relative; }
  .introduction p {
    font-size: 1rem;
    line-height: 28px;
    padding-bottom: 30px; }
  .introduction .wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

form input[type=text] {
  height: 45px;
  border: 0;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 1rem; }

form input[type=text]:focus {
  border-bottom: 3px solid #62a8ac; }

form .final-button {
  border: 0px;
  height: 50px;
  width: 250px;
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  letter-spacing: 2px; }
  form .final-button:hover {
    background: white; }

.gen-demographics {
  background: paleturquoise; }
  .gen-demographics img {
    opacity: 0.5;
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    height: 100%; }

.gen-demographics, .gen-interests, .gen-level {
  height: 100vh;
  position: relative; }
  .gen-demographics .wrapper, .gen-interests .wrapper, .gen-level .wrapper {
    position: relative;
    top: 20%; }

.demoInput {
  width: 100%;
  max-width: 500px;
  position: relative; }

.demoFlex, .level-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.gen-level {
  background: paleturquoise;
  height: 100vh; }

.gen-interests {
  background: #93E1D8;
  height: 100vh;
  position: relative; }

.interest-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding-top: 50px; }
  .interest-flex img {
    max-width: 300px;
    width: 100%;
    opacity: 0.5;
    min-height: 300px;
    height: 100%; }
  .interest-flex .interestInput {
    max-width: 500px;
    width: 100%; }

.gen-level .final-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.level-flex {
  padding-top: 50px; }
  .level-flex img {
    max-width: 300px;
    width: 100%;
    opacity: 0.5;
    min-height: 300px;
    height: 100%; }

.levelInput {
  padding-top: 50px; }
  .levelInput div {
    padding-bottom: 20px; }

.demoInput, .interestInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.gen-final {
  background: #5497a7;
  height: 75vh;
  padding-top: 125px;
  position: relative; }
  .gen-final p {
    margin-top: 50px; }
  .gen-final button {
    background: white;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    background: white;
    height: 50px;
    width: 250px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none; }
    .gen-final button:hover {
      background: white; }

.final-info {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400; }

footer {
  height: 25vh;
  background-color: #93e1d8;
  font-size: 1rem;
  padding-top: 50px; }
  footer .fa-linkedin-in, footer .fa-twitter {
    font-size: 1.2   rem;
    color: #353535; }

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contact-info span {
    display: inline-block;
    margin-bottom: 15px; }
  .contact-info a:hover {
    opacity: 0.5; }

.footer-text {
  -ms-flex-item-align: center;
  align-self: center; }

.share {
  color: #353535;
  text-decoration: none;
  background: #62a8ac;
  font-size: 1.2rem;
  padding: 10px 25px;
  border-radius: 5px;
  margin-bottom: 20px;
  -ms-flex-item-align: center;
  align-self: center; }
  .share .fa-twitter-square {
    margin-right: 10px;
    color: #353535; }

@media (max-width: 667px) {
  img {
    display: none; }
  header {
    height: 100%;
    max-height: 100vh; }
  .hero .hero-text h1 {
    font-size: 3.6rem; }
  .hero .hero-text h2 {
    font-size: 1.6rem; }
  main form .wrapper {
    padding: 0 20px; }
  main h4 {
    font-size: 1.5rem; }
  main h5 {
    font-size: 1rem; }
  .gen-demographics, .gen-interests, .gen-level {
    height: 100vh;
    position: relative; }
    .gen-demographics .wrapper, .gen-interests .wrapper, .gen-level .wrapper {
      position: relative;
      top: 10%; }
  .introduction {
    height: 100vh;
    padding: 0 20px; }
    .introduction p {
      font-size: 1rem; }
  label {
    font-size: 1rem; }
  .results {
    font-size: 1.2rem; }
  .gen-level .final-button, .gen-final .start-again {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    padding: 15px 25px; } }

@media (max-width: 400px) {
  header {
    height: 50vh; }
  .hero .hero-text h1 {
    font-size: 3rem; }
  .hero .hero-text h2 {
    font-size: 1.2rem; }
  .introduction p {
    font-size: 14px; }
  main form .wrapper {
    padding: 0 20px; }
  main h4 {
    font-size: 2rem; }
  main h5 {
    font-size: 1rem; }
  main .interest-flex, main .level-flex {
    padding-top: 20px; }
  main .levelInput {
    padding-top: 10px; }
  .gen-final {
    padding-top: 50px;
    height: 100vh; }
  .final-info {
    font-size: 16px; }
  .results {
    font-size: 1rem; }
  p.final-info {
    margin-top: 25px; }
  footer {
    padding-left: 50px; } }

body {
  font-size: 10px;
  font-family: "Muli", sans-serif; }

h1 {
  font-family: "Sacramento", cursive;
  color: #353535; }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0;
  font-size: 1.8rem; }

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
