article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hero {
  background: -webkit-linear-gradient(10deg, rgba(147, 225, 216, 0.8), rgba(84, 151, 167, 0.3), rgba(255, 255, 255, 0.9)), url("../assets/robin-van-der-ploeg-426274.jpg");
  background: -o-linear-gradient(10deg, rgba(147, 225, 216, 0.8), rgba(84, 151, 167, 0.3), rgba(255, 255, 255, 0.9)), url("../assets/robin-van-der-ploeg-426274.jpg");
  background: linear-gradient(80deg, rgba(147, 225, 216, 0.8), rgba(84, 151, 167, 0.3), rgba(255, 255, 255, 0.9)), url("../assets/robin-van-der-ploeg-426274.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  height: 100%; }
  .hero .hero-text {
    text-align: center;
    padding-top: 100px; }
    .hero .hero-text h1 {
      font-size: 6rem;
      color: #62a8ac; }
    .hero .hero-text h2 {
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #62a8ac; }

main {
  font-size: 1.4rem; }
  main h4 {
    font-size: 1.8rem;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase; }
  main a {
    color: #353535;
    font-size: 2rem;
    -webkit-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s; }

main a:hover {
  color: blue; }

.introduction {
  height: 50vh;
  background-color: #93E1D8;
  text-align: center;
  position: relative; }
  .introduction .wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

form input {
  border: 0; }

form div {
  height: 100vh; }

form .gen-demographics {
  background: paleturquoise; }

form .gen-level {
  background: #93E1D8; }

form .gen-interests {
  background: paleturquoise; }
  form .gen-interests input {
    max-width: 500px; }
  form .gen-interests .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

form .gen-final {
  background: #93E1D8; }

.demoInput, .interestInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

footer {
  height: 50vh; }

body {
  font-size: 10px;
  font-family: "Roboto", sans-serif; }

h1 {
  font-family: "Sacramento", cursive;
  color: #353535; }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0;
  font-size: 1.8rem; }

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
